<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angsamo.erp.development.mapper.ItemMapper">

    <select id="findAll"
            resultType="com.angsamo.erp.development.domain.Item">
       SELECT
    item_id,
    item_code,
    item_name,
    item_type,
    spec,
    unit,
    standard_price,
    description,
    active,
    created_at,
    updated_at
FROM item
WHERE active = 1
ORDER BY item_id DESC
    </select>

    <select id="findByItemId"
            parameterType="long"
            resultType="com.angsamo.erp.development.domain.Item">
        SELECT
            item_id,
            item_code,
            item_name,
            item_type,
            spec,
            unit,
            standard_price,
            description,
            active,
            created_at,
            updated_at
        FROM item
       WHERE item_id = #{itemId}
AND active = 1
    </select>

    <select id="findByItemCode"
            parameterType="string"
            resultType="com.angsamo.erp.development.domain.Item">
        SELECT
            item_id,
            item_code,
            item_name,
            item_type,
            spec,
            unit,
            standard_price,
            description,
            active,
            created_at,
            updated_at
        FROM item
        WHERE item_code = #{itemCode}
    </select>

    <insert id="insert"
            parameterType="com.angsamo.erp.development.domain.Item"
            useGeneratedKeys="true"
            keyProperty="itemId"
            keyColumn="item_id">
        INSERT INTO item (
            item_code,
            item_name,
            item_type,
            spec,
            unit,
            standard_price,
            description,
            active
        )
        VALUES (
            #{itemCode},
            #{itemName},
            #{itemType},
            #{spec},
            #{unit},
            #{standardPrice},
            #{description},
            #{active}
        )
    </insert>

    <update id="update"
            parameterType="com.angsamo.erp.development.domain.Item">
        UPDATE item
        SET
            item_name = #{itemName},
            item_type = #{itemType},
            spec = #{spec},
            unit = #{unit},
            standard_price = #{standardPrice},
            description = #{description},
            active = #{active}
        WHERE item_id = #{itemId}
    </update>

    <update id="deactivateByItemId"
        parameterType="long">
    UPDATE item
    SET
        active = 0,
        updated_at = CURRENT_TIMESTAMP
    WHERE item_id = #{itemId}
      AND active = 1
</update>

</mapper>